.titre-principal{
    font-family: 'Cute Font', cursive;
    color: blueviolet;

}

h1 {
    color: aquamarine;
}
img {
    max-width: 180px;

}

.roundPhotoId {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 150px;
    height: 150px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.bodyNew{
    background-color: darkslategrey;
    color: floralwhite;
}