
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>CV Creator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">CV Creator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/new">Création <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Liste des CVs</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Header -->
<header class="headPers">
    <div class="container">
        <div class="intro-text">
            <div class="white">l</div>
            <div class="headTitle">Tu veux un CV mais tu ne sais pas comment faire?</div>
            <div class="subTitle">Laisse toi guider!</div>
            <div class="white">l</div>
            <a class="button button1" href="/new">Let's Go!</a>
            <div class="white">l</div>
        </div>
    </div>
</header>




</body>

</html>
