<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Facebook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<script type='text/javascript'>
    function preview_image(event)
    {
        var reader = new FileReader();
        reader.onload = function()
        {
            var output = document.getElementById('output_image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<style>
    #output_image
    {
        max-width:300px;
    }
</style>


<body style="background-color: darkslategrey; color: floralwhite;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CV Creator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/new">Création <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Liste des CVs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Options</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <form method="post" th:action="@{/new}" th:object="${user}">

        <div class="row">
            <div class="col py-3 px-lg-5">
                <div class="mb-4" align="center">
                    <div class="d-flex justify-content-center">
                        <img id="output_image"/>
                        <input type="file" accept="image/*" onchange="preview_image(event)">

                    </div>

                </div>
                <div class="container">
                    <label style=" border-style: inset; display: block">CONTACT</label>
                    <div class="form-group">
                        <label for="firstNameInput">Téléphone</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstNameInput"
                               aria-describedby="firstNameHelp">
                    </div>
                    <div class="form-group">
                        <label for="lastNameInput">E-mail</label>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastNameInput"
                               aria-describedby="lastNameHelp">
                    </div>
                    <div class="form-group">
                        <label for="ageInput">Adresse</label>
                        <input type="text" th:field="*{age}" class="form-control" id="ageInput"
                               aria-describedby="ageHelp">
                    </div>
                    <div class="form-group">
                        <label for="ageInput">Linkedin</label>
                        <input type="text" th:field="*{age}" class="form-control" id="ageInput"
                               aria-describedby="ageHelp">
                    </div>

                </div>
                <div class="container">
                    <label style=" border-style: inset; display: block">LANGUES</label>
                    <div class="form-group">
                    <div class="row">
                        <div class="col-sm"><input type="checkbox" name="Comp&eacute;tences" value="Francais">Français
                        </div>
                        <div class="col-sm"><input type="checkbox" name="Comp&eacute;tences" value="Anglais">Anglais
                        </div>
                        <div class="col-sm"><input type="checkbox" name="Comp&eacute;tences" value="Espagnol">Espagnol
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><input type="checkbox" name="Comp&eacute;tences" value="Allemand">Allemand
                        </div>
                        <div class="col-sm"><input type="checkbox" name="Comp&eacute;tences" value="Russe">Russe
                        </div>
                        <div class="col-sm"><input type="checkbox" name="Comp&eacute;tences" value="Chinois">Chinois
                        </div>
                    </div>
                    </div>
                </div>

                <div class="container">
                    <label style=" border-style: inset; display: block">COMPETENCES</label>
                </div>

                <div class="container">
                    <label style=" border-style: inset; display: block">CENTRES D'INTERETS</label>
                </div>


            </div>
            <div class="col py-3 px-lg-5">
                <div class="container">
                    <div class="form-group">
                        <label for="firstNameInput">Prénom</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstNameInput"
                               aria-describedby="firstNameHelp">
                    </div>
                    <div class="form-group">
                        <label for="lastNameInput">Nom</label>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastNameInput"
                               aria-describedby="lastNameHelp">
                    </div>
                    <div class="form-group">
                        <label for="ageInput">Age</label>
                        <input type="text" th:field="*{age}" class="form-control" id="ageInput"
                               aria-describedby="ageHelp">
                    </div>
                </div>

                <div class="container">
                    <label style=" border-style: inset; display: block">DESCRIPTION</label>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>

                <div class="container">
                    <label style=" border-style: inset; display: block">FORMATIONS</label>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>

                <div class="container">
                    <label style=" border-style: inset; display: block">EXPERIENCES</label>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="container" align="center">
                <button type="submit" class="btn btn-light">Ajouter</button>
            </div>
        </div>


    </form>
</div>
</body>

</html>